<div class='container reminders'>
  <div class='row'>
    <div class='col-12'>
      <h1>Lembretes</h1>

      <table class="table">
        <thead>
          <tr>
            <th>Lembrete</th>
            <th>Data</th>
            <th>Atendimento referente</th>
            <th colspan="3">Ações</th>
          </tr>
        </thead>

        <tbody>
          <% @reminders.each do |reminder| %>
            <tr>
              <td class="text">
                <span><%= reminder.remind %></span>
              </td>
              <td>
                <%= reminder.remind_date.in_time_zone(Time.zone).strftime("%d/%m/%Y") %>
              </td>
              <td>
                <% if !reminder.attendance_request.nil? %>
                  <%= link_to (attendance_user_name reminder.attendance_request), attendance_request_path(reminder.attendance_request.id), method: :get %>
                <% end %>
              </td>
              <td class="row">
                
                <%= link_to (fa_icon "eye", class: 'text-info col-md-4', title: "Visualizar"), reminder %>
                <%= link_to (fa_icon "edit", class: 'text-info col-md-4', title: "Editar"), edit_reminder_path(reminder) %>
                <%= link_to (fa_icon "check", class: 'text-success col-md-4', title: "Marcar como lido"), reminder, method: :delete, data: { confirm: 'Tem certeza?' }, class: "delete" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <br />
      <%= link_to 'Novo Lembrete', new_reminder_path, class:"btn btn-success" %>
    </div>
  </div>
</div>