<p id="notice"><%= notice %></p>

<p>
  <strong>Remind:</strong>
  <%= @reminder.remind %>
</p>

<p>
  <strong>Remind date:</strong>
  <%= @reminder.remind_date %>
</p>

<p>
  <strong>Read:</strong>
  <%= @reminder.read %>
</p>

<p>
  <strong>User:</strong>
  <%= @reminder.user %>
</p>

<p>
  <strong>Attendance request:</strong>
  <%= @reminder.attendance_request %>
</p>

<%= link_to 'Edit', edit_reminder_path(@reminder) %> |
<%= link_to 'Back', reminders_path %>
