<div class="container pb-4">
  <h2 class="mt-4">Informações pessoais</h2>
  <hr class="divider">

  <div class="card">
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Notícias</th>
            <th>Atendimento</th>
            <th colspan="1"></th>
          </tr>
        </thead>

        <tbody>
          <% unless @coordinator.nil? %>
            <tr>
              <td>
                <%= @coordinator.name %>
              </td>

              <td>
                <%= @coordinator.email %>
              </td>

              <td>
                <%= truncate( @coordinator.notices, :length => 80 ) %>
              </td>

              <td>
                <%= @coordinator.office_hours %>
              </td>

              <td>
                <%= link_to 'Editar', edit_coordinators_info_path(@coordinator), class: "btn btn-sm btn-primary" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
