<div class="container pb-4">
  <h2 class="mt-4">Coordenadores</h2>
  <hr class="divider">

  <div class="card">
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Email</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% unless @coordinators.nil? %>
            <% @coordinators.each do |coordinator| %>
              <tr>
                <td>
                  <%= coordinator.name %>
                </td>

                <td>
                  <%= coordinator.email %>
                </td>
                
                <td>
                  <%= link_to 'Editar', edit_admins_coordinator_path(coordinator), class: "btn btn-sm btn-primary" %>
                </td>
                <td>
                  <%= link_to 'Excluir', admins_coordinator_path(coordinator), method: :delete, data: { confirm: 'Você tem certeza?' }, class: "btn btn-sm btn-danger" %>
                </td>
              </tr>
              <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  
  <br>
  
  <%= link_to 'Novo Coordenador', new_admins_coordinator_path, class: "btn btn-success" %>

  <br>
  <br>
  <br>
  <%= link_to 'voltar', admins_backoffice_path, class: "btn btn-sm btn-primary" %>
</div>
