<div class="fields">
  <div class="form-group">
    <%= f.label :description, "Descrição" %><br/>
    <%= f.text_area :description, :rows => 3, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :group, "Grupo" %><br/>
    <%= f.number_field :group, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :workload, "Carga horária" %><br/>
    <%= f.number_field :workload, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :requested_credits_amount, "Quantidade de créditos solicitados" %><br/>
    <%= f.number_field :requested_credits_amount, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :document, 'Documentação' %><br/>
    <%= f.file_field :document, class: "form-control" %>
  </div>

  <%= f.hidden_field :_destroy %>
  <%= link_to_remove_fields 'Remover Item', f %>
</div>