<div class="fields">
  <p>
    <%= f.label :description, "Descrição" %><br/>
    <%= f.text_area :description, :rows => 3 %>
  </p>
  <p>
    <%= f.label :group, "Grupo" %><br/>
    <%= f.number_field :group %>
  </p>
  <p>
    <%= f.label :workload, "Carga horária" %><br/>
    <%= f.number_field :workload %>
  </p>
  <p>
    <%= f.label :requested_credits_amount, "Quantidade de créditos solicitados" %><br/>
    <%= f.number_field :requested_credits_amount %>
  </p>
  <p>
    <%= f.label :document, 'Documentação' %><br/>
    <%= f.file_field :document %>
  </p>

  <%= f.hidden_field :_destroy %>
  <%= link_to_remove_fields 'remove', f %>
</div>