<%= form_for @credit_form do |f| %>
  <% if @credit_form.errors.any? %>
    <div class="alert alert-warning">
      <h5>Opa, temos alguns problemas:</h5>

      <ul class="mb-0">
        <% @credit_form.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p> Itens </p>
  <p><%= link_to_add_fields "Adicionar Item", f, :credit_items %></p>
  <%= f.fields_for :credit_items do |builder| %>
    <%= render 'credit_item_fields', f: builder %>
  <% end %>

  <div class="actions">
    <%= f.submit 'Criar Formulário de concessão de crédito', class: "btn btn-success" %>
    <span>&nbsp;|&nbsp;</span>
    <%= link_to "Voltar", credit_forms_path, class: "btn btn-primary" %>
  </div>
<% end %>
