<% @attendances.each do |attendance| %>
  <tr>
    <td><%= attendance.name_student %></td>
    <td><%= attendance.course_student %></td>
    <td><%= attendance.comment %></td>
    <td><%= attendance.priority_student %></td>
    <td><%= link_to 'Realizado',attendance, method: :delete, data: { confirm: 'Deseja marcar como realizado?' }  %></td>
    <td><%= link_to 'Show', attendance %></td>
    <td><%= link_to 'Edit', edit_attendance_path(attendance) %></td>
  </tr>
<% end %>