<%= form_with(model: attendance, local: true) do |form| %>
  <% if attendance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(attendance.errors.count, "error") %> prohibited this attendance from being saved:</h2>

      <ul>
      <% attendance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-4">
      <div class="field">
        <%= form.label "Nome estudante" %>
        <%= form.text_field :name_student %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="field">
        <%= form.label "Curso estudante" %>
        <%= form.select :course_student, options_for_select([['Ciência da Computação (Bacharel)','Ciência da Computação (Bacharel)'],['Licenciatura','Licenciatura'],['Engenharia da Computação','Engenharia da Computação'], ["Estatística", "Estatística"],["Design", "Design"], ["Administração", "Administração"] ], :selected => form.object.priority_student),
                              {} %> 
      </div>
    </div>  
  </div>

  <div class="row">
      <div class="col-md-4">
        <div class="field">
          <%= form.label "Comentário" %>
          <%= form.text_area :comment %>
        </div>
      </div>  
    <div class="col-md-6">
      <div class="field">
        <%= form.label "Prioridade estudante" %>
        <%= form.select :priority_student, options_for_select([['Em condição','Em condição'],['Normal','Normal'],['Outros','Outros']], :selected => form.object.priority_student),
                              {} %> 
      </div>
    </div>
  </div>
    
    <div class="actions">
      <%= form.submit %>
    </div>
    
<% end %>


