<p id="notice"><%= notice %></p>

<p>
  <strong>Name student:</strong>
  <%= @attendance.name_student %>
</p>

<p>
  <strong>Course student:</strong>
  <%= @attendance.course_student %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @attendance.comment %>
</p>

<p>
  <strong>Priority student:</strong>
  <%= @attendance.priority_student %>
</p>

<%= link_to 'Edit', edit_attendance_path(@attendance) %> |
<%= link_to 'Back', attendances_path %>
