<!-- Navigation --> 
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #37485A;">
  <div class="container">
    <a class="navbar-brand" href="/index">Matricula Coordenador</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/index">Início</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">Sobre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/coordinators">Coordenadores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contato</a>
        </li>        

        <li class="nav-item">
          <% if user_signed_in? %>
            <%= link_to  "Concessão de Crédito", credit_forms_path, class: "nav-item nav-link" %>
          <% end %>
        </li>

        <!-- link to backoffice if logged -->
        <li class="nav-item">
          <% if user_signed_in? %>
            <% if current_user.has_role? :admin %>
              <%= link_to  "Backoffice", admins_backoffice_path, class: "nav-item nav-link" %>
            <% end %>
          <% end %>
        </li>

        <li class="nav-item">
          <% if user_signed_in? %>
            <% if current_user.has_role? :coordinator %>
              <%= link_to  "Backoffice", coordinators_backoffice_path, class: "nav-item nav-link" %>
            <% end %>
          <% end %>
        </li>

        <li class="nav-item">
          <% if user_signed_in? %>
            <% if current_user.has_role? :student %>
              <%= link_to  "Informações Fila", information_path, class: "nav-item nav-link" %>
            <% end %>
          <% end %>
        </li>

        <!-- account info and link to login -->

        <% if user_signed_in? %>
          <li>
            <%= link_to  "Novo atendimento", new_attendance_path , class: "nav-item nav-link" %>
          </li>
          <li class="nav-link dropdown">
            <div class="nav-item dropdown-toggle" data-toggle="dropdown">
              Olá, <b class="caret"><%= current_user.email%></b>
            </div>
            <%# O dropdown abaixo é responsável por mostrar ao usuário se logado, qual grupo de usuário ele pertence
            e também um link para que ele possa editar o perfil dele.%>
            <ul class="dropdown-menu" style="margin-top: 7px;">
              <% if current_user.has_role? :coordinator %>
                <li><%= link_to "  Preferências", edit_coordinators_info_path(current_user), class: "dropdown-item fa fas fa-cog fa-xs"%></li>
              <% end %>

              <% if current_user.has_role? :student %>
                <li><%= link_to "  Preferências", edit_student_path(current_user), class: "dropdown-item fa fas fa-cog fa-xs"%></li>
              <% end %>

              <li><%= link_to ' Tipo:'+current_user.roles_name[0], '#', class: "dropdown-item fa fas fa-user fa-xs"%></li>

              <div class="dropdown-divider"></div>

              <li><%= link_to  " Logout", destroy_user_session_path, method: :delete, class: "dropdown-item fa fas fa-power-off fa-xs" %></li>
            </ul>
          </li>

        <% else %>
          <li class="nav-item">
            <%= link_to  "Login", new_user_session_path, class: "nav-item nav-link" %>
          </li>
        <% end %>

      </ul>
    </div>
  </div>
</nav>