<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Matricula Coordenador</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head> 

  <body>
    <%= render 'layouts/header' %>

    <!-- Page Content -->
    <section class="py-5">
      <div class="container" style="min-height: 100vh">
        <br>
        <%= render partial: "layouts/errors" %>
        <%= yield %>
      </div>
    </section>
    <% if user_signed_in? %>
      <% if current_user.has_role?(:coordinator) && !controller_name.include?("reminder") %>
        <div>
          <div class="col-4 reminder-buttons">
              <%= render partial: "layouts/coordinators/action_buttons" %>
          </div>
        </div>
     <% end %>
    <% end %>
    <%= render 'layouts/footer' %>
  </body>
</html>